<mat-toolbar color="primary">
    <mat-toolbar-row>
        <div class="row between-xs middle-xs header-row">
            <nav>
                <a mat-button routerLink="/products" routerLinkActive="active" >Products</a>
                <a mat-button routerLink="/contact" routerLinkActive="active" >Contacto</a>
                <a mat-button routerLink="/home" routerLinkActive="active" >Home</a>
                <a  mat-button routerLink="/admin" >Menu de adminsitración</a>
            </nav>
            <a routerLink="/order" mat-raised-button [matBadge]="total$ | async" matBadgeColor="warn"> <!-- Metodo para suscribirse-->
                <mat-icon>shopping_cart</mat-icon>
                Carrito
            </a>
        </div>
    </mat-toolbar-row>

</mat-toolbar>


<!-- <nav>
    <a routerLink="/products" routerLinkActive="active" >Products</a>
    <a routerLink="/contact" routerLinkActive="active" >Contacto</a>
    <a routerLink="/home" routerLinkActive="active" >Home</a>
</nav> -->
