
<button mat-raised-button routerLink="register">Registrarse</button>
<form [formGroup]="form" (ngSubmit)="iniciarSesion($event)" class="card">
    <mat-card >
        <mat-card-header class="boton">Login</mat-card-header>
    <div class="row">
        <div class="col-xs">
            <mat-card-content>
                <mat-form-field>
                    <input placeholder="email" formControlName="email" matInput type="email">
                </mat-form-field>
                <div *ngIf="emailField.errors && emailField.dirty"> <!-- Es lo mismo que los if de abajo solo que ocupo la variable del ts-->
                    <!-- <p *ngIf="form.get('user').hasError('user_invalid')">Error</p> -->
                    <!-- <p *ngIf="form.get('user').hasError('required')">Este campo es obligatorio</p> -->
                    <mat-error *ngIf="emailField.hasError('email')">Tiene que ser un email valido</mat-error>
                    <mat-error *ngIf="emailField.hasError('required')">Este campo es obligatorio</mat-error>
                </div>
            </mat-card-content>
        </div>
    </div>
    <div class="row">
        <div class="col-xs">
            <mat-card-content>
                <mat-form-field>
                    <input placeholder="password" formControlName="password" matInput type="password">
                </mat-form-field>
                <div *ngIf="passField.errors && passField.dirty">
                    <mat-error *ngIf="passField.hasError('required')">Este campo es obligatorio</mat-error>
                    <mat-error *ngIf="passField.hasError('minlength')">Contraseña muy corta</mat-error>
                    <mat-error *ngIf="passField.hasError('maxlength')">Contraseña muy larga</mat-error>
                </div>
            </mat-card-content>
        </div>
    </div>
    <mat-card-actions>
        <button [disabled]="form.invalid" mat-raised-button type="submit">Iniciar Sesion</button>
    </mat-card-actions>
</mat-card>
</form>