<div class="container">
    <mat-card *ngFor="let pro of product" class="card">
        <mat-card-header>
            <mat-card-title>
                {{ pro.title | uppercase}}
            </mat-card-title>
            <mat-card-subtitle>
                {{ pro.price | currency}}
            </mat-card-subtitle>
        </mat-card-header>
        <div class="crop-image">
            <img [src]="pro.image" alt="iamgen">
        </div>
        <mat-card-content>
            <p>{{ pro.description }}</p>
        </mat-card-content>
        <mat-card-actions>
            <a mat-raised-button color="primary" [routerLink]="['/products', pro.id]">Ver Detalle</a>
        </mat-card-actions>
    </mat-card>
    
</div>




<!-- <div class="container">
    <div *ngFor="let pro of product" class="card">
        <img [src]="pro.image" alt="iamgen">
        <p> {{ pro.title }} </p>
        <p> {{ pro.description }} </p>
        <a mat-raised-button color="primary" [routerLink]="['/products', pro.id]">Ver Detalle</a>
    

 -->
