img{
    max-width: 100%;
}
.titulo span h1{
    padding-top: 50px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 50px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    border-bottom: black 2px solid;
}